<div id="<%= dom_id testm %>">
  <p>
    <strong>Name:</strong>
    <%= testm.name %>
  </p>

  <p>
    <strong>Ids:</strong>
    <%= testm.ids %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= testm.password %>
  </p>

</div>
