<!-- app/views/rooms/index.html.erb -->

<div class="container">
  <p style="color: green;"><%= notice %></p>

  <div class="page-header">
    <h1>스터디 찾기</h1>
  </div>

  <form action="/room/exist" class="search-form">
    <div class="input-group">
      <label for="name">스터디명:</label>
      <input id="name" type="text" name="name" onkeydown="checkEnter(event)">
      <input type="submit" value="검색">
    </div>
  </form>

  <br>

  <% if defined?(@error_message) %>
    <div class="error-message" style="color: red;">
      <%= @error_message %>
    </div>
  <% end %>

  <button class="create-button" type="button" onclick="location.href='<%= new_room_path %>'">스터디 만들기</button>
</div>
<script>
  function checkEnter(event) {
      if (event.key === "Enter") {
        // 엔터 키가 눌렸을 때 검색 버튼 클릭
        event.preventDefault(); // 폼의 디폴트 동작(페이지 새로고침) 방지
        document.querySelector('input[type="submit"]').click();
      }
  }
</script>
